antlr4-python3-runtime==4.9.3
anyio==4.15.1
certifi==2026.7.22
click==8.5.0
filelock==3.32.6
fsspec==2026.7.0
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.30.0
hydra-core==1.3.2
idna==3.19
iniconfig==2.3.0
iopath==0.1.10
Jinja2==3.1.6
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.6.1
numpy==2.5.3
omegaconf==2.3.1
packaging==26.3
pillow==12.3.0
pluggy==1.6.0
portalocker==4.3.0
pycocotools==2.0.11
Pygments==2.21.0
pytest==9.1.1
PyYAML==6.0.3
-e git+https://github.com/facebookresearch/sam2.git@2b90b9f5ceec907a1c18123530e92e794ad901a4#egg=SAM_2
scipy==1.18.1
-e git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf#egg=segment_anything
setuptools==78.1.0
sympy==1.14.0
torch==2.7.1+cpu
torchvision==0.22.1+cpu
tqdm==4.70.0
typing_extensions==4.16.0
wheel==0.48.0
